{{!-- card-author --}}

<div class="CardAuthor">
  <img src="{{asset "images/photoauthor.jpg"}}" alt="" class="CardAuthor-photo">
  <h4 class="CardAuthor-name">Alexei Mamani</h4>
  <p class="CardAuthor-subtitle">Developer</p>
  <p class="CardAuthor-description">Me gusta demasiado la programación, amante de la música, UI/UX algo que me encanta demasiado, autodidacta, videojuegos tipo MOBA, le estoy agarrando gusto a la fotografía</p>
  <a href="" class="CardAuthor-more">Mas sobre mí</a>
  <div class="CardAuthor-social">
    {{> social-links}}
  </div>
</div>
