<div class="FeedSocial FeedSocial--twitter">
  <div class="FeedSocial-top">
    <p class="FeedSocial-textTop">
      <span class="FeedSocial-iconTwitter"><i class="fa fa-twitter"></i></span> Última publicación de Twitter
    </p>
    <a href="#" class="FeedSocial-linkAccount">@alexeidev</a>
  </div>
  <div class="FeedSocial-mid">
    <a href="#" class="FeedSocial-midText">"Jajaja que locaso"</a>
  </div>
  <a href="" class="FeedSocial-follow">
    Sigueme
  </a>
</div>
<div class="FeedSocial FeedSocial--instagram" style="background: linear-gradient(to bottom, rgba(0,0,0,.57) 0%,rgba(0,0,0,0.35) 50%,rgba(0,0,0,0.77) 100%), url('./assets/images/photoauthor.jpg'); background-size: cover;)">
  <div class="FeedSocial-top">
    <p class="FeedSocial-textTop">
      Instagram feed
    </p>
    <a href="#" class="FeedSocial-linkAccount">@alexeidev</a>
  </div>
  <div class="FeedSocial-mid">
  </div>
  <a href="" class="FeedSocial-follow">
    Sigueme
  </a>
</div>
