{{!-- header --}}
{{#foreach posts limit="1"}}
<div class="CoverFull" style="background: linear-gradient(to bottom, rgba(0,0,0,.77) 0%, rgba(0,0,0,0.55) 25%, rgba(0,0,0,0.88) 50%,rgba(0,0,0,0.77) 100%), url({{image}}); background-size: cover; background-attachment: fixed; ">
  <header class="Layout-header Layout-wrapper">
    {{!-- top-header --}}
    {{> top-header }}

    {{!-- main-menu --}}
    {{> main-menu }}

    {{!-- post-full --}}
      {{> post-full}}

  </header>

</div>
{{/foreach}}
