<div class="PageNav">
    {{#if prev}}
    <a href="" class="PageNav-prev">
      <i class="fa fa-arrow-left" aria-hidden="true"></i> Anterior
    </a>
    {{/if}}
    {{#if next}}
    <a href="" class="PageNav-next">
      Siguiente <i class="fa fa-arrow-right" aria-hidden="true"></i>
    </a>
    {{/if}}
</div>
