<div class="PostFull">
  <p class="PostFull-details center">
    <span class="PostFull-altText"> por </span> {{author}} | {{date format="DD MMM YYYY"}}
  </p>
    <h3 class="PostFull-title PostFull-single">
    <a href="{{url}}">{{title}}</a>
  </h3>
</div>
