<div class="SearchFix animated" id="js-SearchMenu">
  <p class="SearchFix-icon" id="js-HiddenSearch">
    <i class="fa fa-times"></i>
  </p>
  <div class="SearchFix-wrapper">
    <form action="" class="SearchFix-form">
      <input type="text" class="SearchFix-input" id="search-field" placeholder="Buscar...">
    </form>
  </div>
  <div class="SearchFix-wrapper">
    <div class="SearchFix-result" id="Results-GhostSearch">
      
    </div>
  </div>
</div>
