<div class="SuscribeWidget" id="mc_embed_signup">
  <h5 class="SuscribeWidget-mainText">Suscríbete ya!</h5>
  <p class="SuscribeWidget-subtitle">Únete ahora, para que puedas recibir lo
mejor de ya sabes XD!</p>
  <form class="SuscribeWidget-form validate" action="//alexeidev.us11.list-manage.com/subscribe/post?u=0c03af4b800f4af2026975753&amp;id=29d7a269db" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
    <input type="email" class="SuscribeWidget-input required email" placeholder="Email" name="EMAIL" id="mce-EMAIL">
    <input type="nombre" class="SuscribeWidget-input" placeholder="Nombre" name="FNAME" id="mce-FNAME">
    <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="SuscribeWidget-submit" value="ser parte">
  </form>
</div>
