{{!-- top-header --}}

<nav class="TopHeader">
  {{!-- navigation --}}
  <ul class="TopHeader-list">
    {{ navigation }}    
  </ul>
  <div class="TopHeader-buttons">
    <a href="#" class="TopHeader-iconMenu" id="js-ShowMenu">
      <i class="fa fa-bars"></i>
    </a>
    <a href="#" class="TopHeader-closeMenu" id="js-HiddenMenu">
      <i class="fa fa-close"></i>
    </a>
  </div>
</nav>
