<div class="WidgetText">
  <div class="fb-page" data-href="https://www.facebook.com/alexeipro/" data-tabs="timeline" data-width="350" data-height="350" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/alexeipro/"><a href="https://www.facebook.com/alexeipro/">Alexei.pro</a></blockquote></div></div>
</div>
<div class="WidgetText">
  <a class="twitter-timeline" href="https://twitter.com/alexeidev" data-widget-id="376126245567623168">Tweets por el @alexeidev.</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
