{{!< default}}

{{!-- Fix-meny --}}
{{> fix-menu}}

{{!-- Header --}}
{{> header }}
<div class="Layout-main Layout-wrapper">
  <div class="Main">
    {{!-- loop --}}
    {{> loop }}
  </div>
  {{!-- sidebar --}}
  {{>sidebar }}
</div>
