// ****** Fonts Color
postTitleColor = #333
postTextColor = #808080
postDetailColor = #808080

// ****** Body
bColor = #f5f4f4
fixedMenuColor = #333
twitterColor = #1da1f2

//CardAuthor
socialLinksAuthor = #808080
